@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

body {
  background-color: #F8FAFC;
  color: #0F172A;
  font-family: var(--font-sans);
}
